body {
    font-family: "Roboto", sans-serif;
    font-size: 0.9em;
    width: 360px;
    height: 600px;
    background-color: rgba(46, 115, 220, 0.05);
    overflow-x: hidden; /* fix horizontal scrollbar showing */
}

header {
    display: flex;
    align-items: center;
}

#logo {
    height: 90px;
    object-position: left top;
    padding-right: 15px;
    font-weight: bold;
}

#site-title {
    font-size: 2em;
    width: 35%;
    padding-right: 25px;
}

a {
    display: flex;
    width: 17%;
    align-items: center;
    justify-content: space-between;
}

a img {
    padding-right: 5px;
}

#github-image {
    height: 40px;
}

button {
    align-items: center;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
}

button:hover,
button:focus {
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: rgba(0, 0, 0, 0.65);
}

button:hover {
    transform: translateY(-1px);
}

button:active {
    background-color: #f0f0f1;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(0);
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.15em;
}

.thin-line {
    border: none;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.25);
}

.thick-line {
    border: none;
    height: 2px;
    background-color: rgba(0, 0, 0, 1);
}

.grid {
    display: grid;
    grid-template-columns: 175px 175px;
    row-gap: 10px;
    justify-content: center;
}

.latex-item {
    display: grid;
    grid-template-columns: 60px 25px 75px;
    align-items: center;
}

.symbol {
    font-family: "Noto Sans Math", sans-serif;
}

.shortcut {
    display: inline;
    font-family: "Fira Code", monospace;
}

.onoffswitch {
    position: relative;
    width: 42px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    display: inline-block;
    padding-left: 5px;
}
.onoffswitch-checkbox {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}
.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #999999;
    border-radius: 20px;
}
.onoffswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before,
.onoffswitch-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 19px;
    padding: 0;
    line-height: 19px;
    font-size: 14px;
    color: white;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "";
    padding-left: 10px;
    background-color: #0094ff;
    color: #ffffff;
}
.onoffswitch-inner:after {
    content: "";
    padding-right: 10px;
    background-color: #eeeeee;
    color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block;
    width: 11px;
    margin: 4px;
    background: #ffffff;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 19px;
    border: 2px solid #999999;
    border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}

.latex-item#mathrm .symbol {
    font-family: "Times New Roman", Times, serif;
}

#breakout {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

textarea {
    resize: none;
    font-size: 1.4em;
}


#breakout textarea {
    flex-grow: 0.5;
    height: 1.5em;
}

#set-chars {
    min-height: 0;
    height: 0.8em;
}

.header-toggle {
    display: grid;
    grid-template-columns: 260px 100px;
    align-items: center;
}

#collapsible textarea {
    grid-row: 1 / span 3;
}

#collapsible .container {
    display: grid;
    grid-template-columns: 65% 30%;
    grid-template-rows: 3em 3em 3em;
    row-gap: 10px;
    column-gap: 10px;
}

#collapsible button {
    padding: 0px;
}
